# BEGIN WordPress

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress
# BEGIN FRedirect_ErrorDocument
# As diretrizes (linhas) entre "BEGIN FRedirect_ErrorDocument" e "END FRedirect_ErrorDocument" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
ErrorDocument 404 /index.php?error=404
# END FRedirect_ErrorDocument